<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BLI Life"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CourtHistoryActivity"
            android:parentActivityName=".CourtActivity"/>
        <activity
            android:name=".MusicHistoryActivity"
            android:parentActivityName=".MusicActivity"/>
        <activity
            android:name=".roomHistoryActivity"
            android:parentActivityName=".RoomActivity"/>
        <activity
            android:name=".MusicActivity"
            android:parentActivityName=".OtherActivity" />
        <activity
            android:name=".CourtActivity"
            android:parentActivityName=".OtherActivity" />
        <activity
            android:name=".RoomActivity"
            android:parentActivityName=".OtherActivity" />
        <activity
            android:name=".AccountActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".OtherActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".FastingActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ShuttleActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignInActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>